:root {
  --alert-padding: var(--padding-small) var(--padding-medium);
  --alert-border-radius: var(--border-radius-2xsmall);
  --alert-border-width: var(--border-width-thin);

  --alert-success-text-color: var(--color-light);
  --alert-error-text-color: var(--color-light);
  --alert-warning-text-color: var(--color-dark);
}

.alert {
  padding: var(--alert-padding);
  border-radius: var(--alert-border-radius);

  &.alert-info {
    background: var(--color-dark);
    color: var(--color-light);
  }
  &.alert-success {
    background: var(--color-success);
    color: var(--alert-success-text-color);
  }
  &.alert-error {
    background: var(--color-error);
    color: var(--alert-error-text-color);
  }
  &.alert-warning {
    background: var(--color-warning);
    color: var(--alert-warning-text-color);
  }
}

.alert {
  &.alert-outline {
    background: none;
    color: inherit;

    &.alert-info {
      border: var(--alert-border-width) solid var(--color-dark);
    }
    &.alert-success {
      border: var(--alert-border-width) solid var(--color-success);
    }
    &.alert-error {
      border: var(--alert-border-width) solid var(--color-error);
    }
    &.alert-warning {
      border: var(--alert-border-width) solid var(--color-warning);
    }
  }
}
