:root {
  --line-color: var(--color-border-light);
  --line-border-width: var(--border-width-thin);
}

hr,
.divider {
  border: none;
  border-top: var(--line-border-width) solid var(--line-color);
}

.divider-vertical {
  border: none;
  border-left: var(--line-border-width) solid var(--line-color);
  width: var(--line-border-width);
}
