:root {
  --form-input-padding: var(--padding-xsmall) var(--padding-small);
  --form-input-border: var(--border-width-thin) solid var(--color-border-light);
  --form-input-background: var(--color-light);
  --form-input-box-shadow: none;
  --form-input-border-radius: var(--border-radius-2xsmall);

  --form-input-placeholder-color: var(--color-gray);

  --form-input-hover-border: var(--border-width-thin) solid
    var(--color-primary-dark);

  --form-input-focus-border: var(--border-width-thin) solid var(--color-primary);

  --form-input-disabled-background: var(--color-background-light);
  --form-input-disabled-text-color: var(--color-gray);

  --form-input-required-border: var(--border-width-thin) solid
    var(--color-border-dark);

  --form-input-readonly-background: var(--color-background-light);
  --form-input-readonly-text-color: var(--color-text);
  --form-input-readonly-border: var(--border-width-thin) solid
    var(--color-border-light);

  --form-input-invalid-text-color: var(--color-text);
  --form-input-invalid-border: var(--border-width-thin) solid
    var(--color-error);

  --form-input-select-background: var(--form-input-background);
  --form-input-checkbox-active-background: var(--color-primary);
  --form-input-checkbox-active-border: var(--border-width) solid
    var(--form-input-background);
  --form-input-radio-active-background: var(--form-input-background);
  --form-input-radio-active-border: calc(var(--border-width) * 2) solid
    var(--color-primary);
  --form-input-select-arrow: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.34317 7.75732L4.92896 9.17154L12 16.2426L19.0711 9.17157L17.6569 7.75735L12 13.4142L6.34317 7.75732Z" fill="currentColor" /></svg>');
  --form-input-file-border-style: dashed;

  --form-field-margin: var(--margin-small);
  --form-label-margin: var(--margin-xsmall);
  --form-control-margin: var(--margin-xsmall);
  --form-message-margin: var(--margin-xsmall);
  --form-message-font-size: .875rem;

  --form-inline-gap: var(--gap-small);
  --form-field-header-width: 200px;
  --form-field-header-margin: calc(var(--font-size) / 4) var(--gap-small) 0 0;

  --form-input-icon-margin: calc(var(--font-size) / 3) var(--margin-small) 0 var(--margin-small);
  --form-input-with-icon-padding-left: calc(var(--padding-small) * 3.5);
}

.form-field {
  margin: var(--form-field-margin);

  &.form-field-horizontal {
    display: flex;
    justify-content: flex-start;

    .form-field-header {
      width: var(--form-field-header-width);
      margin: var(--form-field-header-margin);
    }

    .form-field-body {
      width: 100%;
    }
  }

  .form-label {
    margin: var(--form-label-margin);
    font-weight: bolder;
    display: block;
  }

  .form-control {
    margin: var(--form-control-margin);

    .form-inline {
      display: flex;
      align-items: center;

      :first-child {
        margin-right: var(--form-inline-gap);
      }
    }
  }

  .form-message {
    margin: var(--form-message-margin);
    font-size: var(--form-message-font-size);
  }
}

.form-input {
  padding: var(--form-input-padding);
  display: inline-block;
  border: var(--form-input-border);
  background: var(--form-input-background);
  box-shadow: var(--form-input-box-shadow);
  border-radius: var(--form-input-border-radius);
  vertical-align: middle;
  box-sizing: border-box;

  max-width: 100%;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;

  &.form-select {
    background-image: var(--form-input-select-arrow) !important;
    background-repeat: no-repeat !important;
    background-position-x: 100% !important;
    background-position-y: 50% !important;
  
    border: var(--form-input-border);
    background: var(--form-input-select-background);
    width: 100%;
    max-width: 100%;

    &[multiple] {
      height: auto;
      
      padding: 0;
      background-image: none !important;

      option {
        padding: var(--form-input-padding);
      }
    }
  }

  &::placeholder {
    color: var(--form-input-placeholder-color);
  }

  &[type="radio"],
  &[type="checkbox"] {
    padding: 0px;
    height: 1rem;
    width: 1rem;
  }

  &[type="radio"] {
    border-radius: 50%;
  }
  
  &[type="file"] {
    border-style: var(--form-input-file-border-style);
  }
  
  &[type="color"] {
    padding: 0px;
  }

  &:hover:not(:disabled):not(:read-only):not(:checked),
  &:hover:not(:disabled):not(:read-only) {
    border: var(--form-input-hover-border);
  }

  &[type="file"]:hover:not(:disabled):not(:read-only):not(:checked) {
    border-style: var(--form-input-file-border-style);
  }

  &:focus {
    outline: 0;
    border: var(--form-input-focus-border);
  }

  &[disabled] {
    cursor: not-allowed;
    background: var(--form-input-disabled-background);
    color: var(--form-input-disabled-text-color);
  }

  &[required] {
    border: var(--form-input-required-border);
  }

  &[readonly] {
    background: var(--form-input-readonly-background);
    color: var(--form-input-readonly-text-color);
    border: var(--form-input-readonly-border);

    pointer-events: none;
  }

  &[type="file"][read-only] {
    border-style: var(--form-input-file-border-style);
  }

  &:invalid,
  &:focus:invalid {
    color: var(--form-input-invalid-text-color);
    border: var(--form-input-invalid-border);
  }

  &[type="file"]:focus:invalid {
    border-style: var(--form-input-file-border-style);
  }
  &[type="checkbox"]:focus:invalid:focus {
    outline: var(--form-input-invalid-border);
  }
  &[type="file"]:focus:invalid:focus {
    border-style: var(--form-input-file-border-style);
  }

  &[type="radio"]:checked,
  &[type="radio"]:checked:hover {
    background: var(--form-input-radio-active-background);
    border: var(--form-input-radio-active-border);
  }

  &[type="checkbox"]:checked {
    background: var(--form-input-checkbox-active-background);
  }

  &[type="checkbox"]:checked:after {
    content: "";
    width: 6px;
    height: 3px;
    display: block;
    border: var(--form-input-checkbox-active-border);
    border-top: 0;
    border-right: 0;
    transform: translate(40%, 60%) rotate(-50deg);
  }
}

.form-input-icon {
  position: absolute;
  margin: var(--form-input-icon-margin);

  display: flex;
  place-items: center;

  .icon {
    --icon-scale: .75;
  }

  + .form-input {
    padding-left: var(--form-input-with-icon-padding-left);
  }
}
