:root {
  --heading-font-size-small: 3rem;
  --heading-font-size-medium: 4.5rem;
  --heading-font-size-large: 6rem;
  --heading-font-size-xlarge: 7.5rem;
  --heading-font-size-2xlarge: 9rem;
  
  --heading-line-height: 1;
}

.heading-small,
.heading-medium,
.heading-large,
.heading-xlarge,
.heading-2xlarge {
  font-family: var(--font-family-heading);
  line-height: var(--heading-line-height);
}

.heading-small {
  font-size: var(--heading-font-size-small);
}
.heading-medium {
  font-size: var(--heading-font-size-medium);
}
.heading-large {
  font-size: var(--heading-font-size-large);
}
.heading-xlarge {
  font-size: var(--heading-font-size-xlarge);
}
.heading-2xlarge {
  font-size: var(--heading-font-size-2xlarge);
}