:root {
  --placeholder-padding: var(--padding-xsmall) var(--padding-medium);

  --placeholder-text-color: var(--color-gray);
  --placeholder-border: var(--border-width-thin) solid var(--color-border-light);
  --placeholder-hover-border: var(--border-width-thin) solid var(--color-border);

  --placeholder-border-radius: var(--border-radius-2xsmall);
  --placeholder-border-style: dashed;
}

.placeholder {
  padding: var(--placeholder-padding);
  color: var(--placeholder-text-color);
  border: var(--placeholder-border);
  border-radius: var(--placeholder-border-radius);
  border-style: var(--placeholder-border-style);

  &:hover {
    border: var(--placeholder-hover-border);
    border-style: var(--placeholder-border-style);
  }
}
