:root {
  --progress-height: 16px;
  --progress-border: 0 none;
  --progress-bar-border-radius: var(--border-radius-small);
  --progress-value-border-radius: var(--border-radius-small);
  --progress-bar-background: var(--color-background);
  --progress-value-background: var(--color-primary);
}

%progress-bar {
  background: var(--progress-bar-background);
  border-radius: var(--progress-bar-border-radius);
}

%progress-value {
  background: var(--progress-value-background);
  border-radius: var(--progress-value-border-radius);
}

progress,
.progress {
  border: var(--progress-border);
}

progress {
  &:indeterminate {
    animation: progress-indeterminate 1.5s linear infinite;
    background: var(--progress-bar-background) linear-gradient(to right, var(--progress-value-background) 30%, var(--progress-bar-background) 30%) top left / 150% 150% no-repeat;
    border-radius: var(--progress-value-border-radius);

    &::-webkit-progress-bar {
      background: transparent;
    }
  }
  &::-webkit-progress-bar {
    @extend %progress-bar;
  }
  &::-webkit-progress-value {
    @extend %progress-value;
  }
}

.progress {
  > .progress-bar {
    @extend %progress-bar;

    > .progress-value {
      @extend %progress-value;
      height: var(--progress-height);
    }
  }
}

@keyframes progress-indeterminate {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
