:root {
  --stepper-line-border-width: var(--border-width);
  --stepper-line-color: var(--color-background);
  --stepper-line-highlight-color: var(--color-primary);
  --stepper-item-point-square-border-radius: var(--border-radius-2xsmall);
  --stepper-item-point-size: calc(var(--font-size) * 2);
  --stepper-item-point-size-small: var(--font-size);
  --stepper-item-point-size-smaller: calc(var(--font-size) / 2);
  --stepper-item-point-border: var(--stepper-line-border-width) solid inherit;
  --stepper-item-point-text-color: var(--color-gray);
  --stepper-item-point-background: var(--color-background);
  --stepper-item-point-completed-border: var(--stepper-line-border-width) solid
    var(--stepper-line-highlight-color);
  --stepper-item-point-completed-text-color: var(--color-light);
  --stepper-item-point-completed-background: var(
    --stepper-line-highlight-color
  );
  --stepper-item-point-processing-border: var(--stepper-line-border-width) solid
    var(--stepper-line-highlight-color);

  --stepper-item-text-color: var(--color-gray);
  --stepper-item-completed-text-color: var(--color-primary);
  --stepper-item-processing-text-color: var(--color-primary-dark);
}

ul.stepper {
  padding: 0px;
}

ul.stepper.stepper-counter {
  counter-reset: step;
}
ul.stepper li {
  list-style-type: none;
  float: left;
  position: relative;
  text-align: center;
  color: var(--stepper-item-text-color);
}
ul.stepper.stepper-steps-2 li {
  width: calc(100% / 2);
}
ul.stepper.stepper-steps-3 li {
  width: calc(100% / 3);
}
ul.stepper.stepper-steps-4 li {
  width: calc(100% / 4);
}
ul.stepper.stepper-steps-5 li {
  width: calc(100% / 5);
}
ul.stepper.stepper-steps-6 li {
  width: calc(100% / 6);
}
ul.stepper li:before {
  width: var(--stepper-item-point-size);
  height: var(--stepper-item-point-size);
  content: "";
  line-height: var(--stepper-item-point-size);
  display: block;
  text-align: center;
  margin: 0 auto calc(var(--stepper-item-point-size) / 2) auto;
  border: var(--stepper-item-point-border);
  background: var(--stepper-item-point-background);
  color: var(--stepper-item-point-text-color);
  box-shadow: 0 0 0 0.1rem var(--color-background-light);
}
ul.stepper.stepper-small:not(.stepper-counter) li:before {
  width: var(--stepper-item-point-size-small);
  height: var(--stepper-item-point-size-small);
  line-height: var(--stepper-item-point-size-small);
  margin: 0 auto calc(var(--stepper-item-point-size-small) / 2) auto;
}
ul.stepper.stepper-smaller:not(.stepper-counter) li:before {
  width: var(--stepper-item-point-size-smaller);
  height: var(--stepper-item-point-size-smaller);
  line-height: var(--stepper-item-point-size-smaller);
  margin: 0 auto calc(var(--stepper-item-point-size-smaller) / 2) auto;
}
ul.stepper.stepper-counter li:before {
  content: counter(step);
  counter-increment: step;
}
ul.stepper.stepper-cycle li:before {
  border-radius: 50%;
}
ul.stepper.stepper-square li:before {
  border-radius: var(--stepper-item-point-square-border-radius);
}
ul.stepper li:after {
  width: 100%;
  height: var(--stepper-line-border-width);
  content: "";
  position: absolute;
  background: var(--stepper-line-color);
  top: calc(var(--stepper-item-point-size) / 2);
  left: -50%;
  z-index: -1;
}
ul.stepper.stepper-small:not(.stepper-counter) li:after {
  top: calc(var(--stepper-item-point-size-small) / 2);
}
ul.stepper.stepper-smaller:not(.stepper-counter) li:after {
  top: calc(var(--stepper-item-point-size-smaller) / 2);
}
ul.stepper li:first-child:after {
  content: none;
}
ul.stepper li.step-completed {
  color: var(--stepper-item-completed-text-color);
}
ul.stepper li.step-processing {
  color: var(--stepper-item-processing-text-color);
}
ul.stepper li.step-completed:before {
  color: var(--stepper-item-point-completed-text-color);
  border: var(--stepper-item-point-completed-border);
  background: var(--stepper-item-point-completed-background);
}
ul.stepper li.step-completed + li:after {
  background: var(--stepper-item-point-completed-background);
}
ul.stepper li.step-processing:before {
  border: var(--stepper-item-point-processing-border);
  transform: scale(1.25);
}
