:root {
  --table-striped-background: var(--color-background);
  --table-head-border-bottom: var(--border-width) solid var(--color-border-light);
  --table-divider-border-bottom: var(--border-width-thin) solid var(--color-border-light);
}

table.table {
  border-collapse: separate;
  border-spacing: 0px;
}

table.table > thead > tr > th,
table.table > tfoot > tr > td,
table.table > tbody > tr > td {
  padding: var(--padding-xsmall);
}

table.table.table-smaller > thead > tr > th,
table.table.table-smaller > tfoot > tr > td,
table.table.table-smaller > tbody > tr > td {
  padding: var(--padding-2xsmall);
}

table.table.table-larger > thead > tr > th,
table.table.table-larger > tfoot > tr > td,
table.table.table-larger > tbody > tr > td {
  padding: var(--padding-small);
}

table.table {

  > thead th {
    border-bottom: var(--table-head-border-bottom);
  }

  &.table-striped {

    > tbody {
      
      tr {
        &:nth-child(odd) {
          background: var(--table-striped-background);
        }
      }
    }
  }

  &.table-divider {

    > tbody {
      tr {

        td {
          border-bottom: var(--table-divider-border-bottom);
        }

        &:last-child td {
          border-bottom: none;
        }
      }
    }
  }

  &.table-sticky-vertically {

    > thead {

      th {
        top: 0;
        position: sticky;
        z-index: 2;
      }
    }
  }

  &.table-sticky-horizontally {

    > thead {

      th {

        &:first-child {
          left: 0;
          position: sticky;
          z-index: 3;
        }
      }
    }

    > tbody {

      td {
        &:first-child {
          left: 0;
          position: sticky;
          z-index: 1;
        }
      }
    }
  }
}