* {
  font-family: var(--font-family);
  text-rendering: optimizeLegibility;

  // normalize grid and flex to avoid overflowing
  min-width: 0;
}

html {
  font-size: var(--font-size);
  margin: 0;
  padding: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: var(--line-height);
  margin: 0 auto;
  text-rendering: optimizeLegibility;

  color: var(--color-text);
  background-color: var(--color-background-light);
}

p,
blockquote,
table,
ul,
ol,
dl {
  margin-bottom: 1.5rem;
  margin-top: 0;
}

p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--line-height-heading);
  margin-bottom: var(--heading-space-after);
  margin-top: 0;
}

h1,
h2,
h3 {
  font-family: var(--font-family-heading);
}

h1 {
  font-size: var(--font-size-heading-h1);
}

h2 {
  font-size: var(--font-size-heading-h2);
}

h3 {
  font-size: var(--font-size-heading-h3);
}

h4 {
  font-size: var(--font-size-heading-h4);
}

h5 {
  font-size: var(--font-size-heading-h5);
}

h6 {
  font-size: 1rem;
}

table,
blockquote,
pre,
code,
figure,
li,
hr,
ul,
ol,
a,
tr {
  page-break-inside: avoid;
}

h2,
h3,
h4,
p,
a {
  orphans: 3;
  widows: 3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  page-break-after: avoid;
  page-break-inside: avoid;
}

h1+p,
h2+p,
h3+p {
  page-break-before: avoid;
}

img {
  page-break-after: auto;
  page-break-before: auto;
  page-break-inside: avoid;
}