$named-color-data: (
  ("transparent", "transparent")
) !default;

$color-data: (
  ("primary", "color-primary"),
  ("primary-light", "color-primary-light"),
  ("primary-dark", "color-primary-dark"),
  ("secondary", "color-secondary"),
  ("secondary-light", "color-secondary-light"),
  ("secondary-dark", "color-secondary-dark"),
  ("dark", "color-dark"),
  ("light", "color-light"),
  ("gray", "color-gray"),
  ("gray-light", "color-gray-light"),
  ("gray-dark", "color-gray-dark"),
  ("success", "color-success"),
  ("warning", "color-warning"),
  ("error", "color-error")
) !default;

$predefined-background-color-data: (
  ("background-color-background", "color-background"),
  ("background-color-background-dark", "color-background-dark"),
  ("background-color-background-light", "color-background-light")
) !default;

$predefined-color-data: (
  ("color-text", "color-text"),
  ("color-text-light", "color-text-light"),
  ("color-link", "color-link"),
  ("color-link-dark", "color-link-dark"),
  ("color-link-light", "color-link-light")
) !default;

$predefined-border-color-data: (
  ("border-color-border", "color-border"),
  ("border-color-border-dark", "color-border-dark"),
  ("border-color-border-light", "color-border-light")
) !default;

@each $color-key, $color-value in $named-color-data {
  .background-color-#{$color-key},
  .background-color-#{$color-key}\@hover:hover,
  .dark .background-color-#{$color-key}\@dark,
  .dark .background-color-#{$color-key}\@hover\@dark {
    background-color: #{$color-value} !important;
  }

  .color-#{$color-key},
  .color-#{$color-key}\@hover:hover,
  .dark .color-#{$color-key}\@dark,
  .dark .color-#{$color-key}\@hover\@dark {
    color: #{$color-value} !important;
  }

  .border-color-#{$color-key},
  .border-color-#{$color-key}\@hover:hover,
  .dark .border-color-#{$color-key}\@dark,
  .dark .border-color-#{$color-key}\@hover\@dark {
    border-color: #{$color-value} !important;
  }
}

@each $color-key, $color-value in $color-data {
  .background-color-#{$color-key},
  .background-color-#{$color-key}\@hover:hover,
  .dark .background-color-#{$color-key}\@dark,
  .dark .background-color-#{$color-key}\@hover\@dark {
    background-color: var(--#{$color-value}) !important;
  }

  .color-#{$color-key},
  .color-#{$color-key}\@hover:hover,
  .dark .color-#{$color-key}\@dark,
  .dark .color-#{$color-key}\@hover\@dark {
    color: var(--#{$color-value}) !important;
  }

  .border-color-#{$color-key},
  .border-color-#{$color-key}\@hover:hover,
  .dark .border-color-#{$color-key}\@dark,
  .dark .border-color-#{$color-key}\@hover\@dark {
    border-color: var(--#{$color-value}) !important;
  }
}

@each $color-key, $color-value in $predefined-background-color-data {
  .#{$color-key},
  .#{$color-key}\@hover:hover,
  .dark .#{$color-key}\@dark,
  .dark .#{$color-key}\@hover\@dark {
    background-color: var(--#{$color-value}) !important;
  }
}

@each $color-key, $color-value in $predefined-color-data {
  .#{$color-key},
  .#{$color-key}\@hover:hover,
  .dark .#{$color-key}\@dark,
  .dark .#{$color-key}\@hover\@dark {
    color: var(--#{$color-value}) !important;
  }
}

@each $color-key, $color-value in $predefined-border-color-data {
  .#{$color-key},
  .#{$color-key}\@hover:hover,
  .dark .#{$color-key}\@dark,
  .dark .#{$color-key}\@hover\@dark {
    border-color: var(--#{$color-value}) !important;
  }
}
