$justify-items-data: (
  (start, flex-start),
  (end, flex-end),
  (center, center),
  (stretch, stretch)
) !default;

$align-items-data: (
  (start, flex-start),
  (end, flex-end),
  (center, center),
  (baseline, baseline),
  (stretch, stretch)
) !default;

$justify-self-data: (
  (start, flex-start),
  (end, flex-end),
  (center, center),
  (stretch, stretch)
) !default;

$align-self-data: (
  (start, flex-start),
  (end, flex-end),
  (center, center),
  (baseline, baseline),
  (stretch, stretch)
) !default;

$justify-content-data: (
  (start, flex-start),
  (end, flex-end),
  (center, center),
  (between, space-between),
  (around, space-around),
  (evenly, space-evenly)
) !default;

$align-content-data: (
  (start, flex-start),
  (end, flex-end),
  (center, center),
  (between, space-between),
  (around, space-around),
  (stretch, stretch)
) !default;

@include with-breakpoints() using ($breakpoint-suffix) {
  @each $items-key, $items-value in $justify-items-data {
    .justify-items-#{$items-key}#{$breakpoint-suffix} {
      justify-items: $items-value;
    }
  }

  @each $items-key, $items-value in $align-items-data {
    .align-items-#{$items-key}#{$breakpoint-suffix} {
      align-items: $items-value;
    }
  }

  @each $self-key, $self-value in $justify-self-data {
    .justify-self-#{$self-key}#{$breakpoint-suffix} {
      justify-self: $self-value;
    }
  }

  @each $self-key, $self-value in $align-self-data {
    .align-self-#{$self-key}#{$breakpoint-suffix} {
      align-self: $self-value;
    }
  }

  @each $content-key, $content-value in $justify-content-data {
    .justify-content-#{$content-key}#{$breakpoint-suffix} {
      justify-content: $content-value;
    }
  }

  @each $content-key, $content-value in $align-content-data {
    .align-content-#{$content-key}#{$breakpoint-suffix} {
      align-content: $content-value;
    }
  }

  .gap-small#{$breakpoint-suffix} {
    gap: var(--grid-gap-small);
  }
  .gap-medium#{$breakpoint-suffix} {
    gap: var(--grid-gap-medium);
  }
  .gap-large#{$breakpoint-suffix} {
    gap: var(--grid-gap-large);
  }

  @each $direction in (row, column) {
    .#{$direction}-gap-small#{$breakpoint-suffix} {
      #{$direction}-gap: var(--grid-gap-small);
    }
    .#{$direction}-gap-medium#{$breakpoint-suffix} {
      #{$direction}-gap: var(--grid-gap-medium);
    }
    .#{$direction}-gap-large#{$breakpoint-suffix} {
      #{$direction}-gap: var(--grid-gap-large);
    }
  }
}
