:root {
    --margin-2xsmall: 3px;
    --margin-xsmall: 5px;
    --margin-small: 10px;
    --margin-medium: 20px;
    --margin-large: 40px;
    --margin-xlarge: 60px;
  
    --padding-2xsmall: 3px;
    --padding-xsmall: 5px;
    --padding-small: 10px;
    --padding-medium: 20px;
    --padding-large: 40px;
    --padding-xlarge: 60px;
  
    --width-small: 150px;
    --width-medium: 300px;
    --width-large: 450px;
    --width-xlarge: 600px;
    --width-2xlarge: 750px;
  
    --height-small: 150px;
    --height-medium: 300px;
    --height-large: 450px;
    --height-xlarge: 600px;
    --height-2xlarge: 750px;
  
    --gap-small: 10px;
    --gap-medium: 20px;
    --gap-large: 40px;
  
    --border-radius-2xsmall: 3px;
    --border-radius-xsmall: 5px;
    --border-radius-small: 10px;
    --border-radius-medium: 20px;
    --border-radius-large: 40px;
  
    --border-width: 2px;
    --border-width-thin: 1px;
    --border-width-thick: 4px;
  
    --font-family: "Jost", Verdana, sans-serif;
    --font-family-heading: var(--font-family);
    --font-family-code: "Ubuntu Mono", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    --font-family-blockquote: var(--font-family);
    --font-family-drop-cap: var(--font-family);
  
    --font-size-xsmall: .5rem;
    --font-size-small: .75rem;
    --font-size: 16px;
    --font-size-heading-h5: 1.25rem;
    --font-size-heading-h4: 1.5rem;
    --font-size-heading-h3: 1.75rem;
    --font-size-heading-h2: 2rem;
    --font-size-heading-h1: 2.5rem;
  
    --line-height: 1.5;
    --line-height-heading: 1.2;
  
    --heading-space-after: .75rem;
  }
  
