.dark {
  --color-border: #{lighten($color-border, 40%)};
  --color-border-dark: #{lighten($color-border, 50%)};
  --color-border-light: #{lighten($color-border, 30%)};

  --color-background: #{$color-text};
  --color-background-dark: #{darken($color-text, 3%)};
  --color-background-light: #{lighten($color-text, 3%)};

  --color-text: #{$color-background};
  --color-text-light: #{lighten($color-background, 40%)};

  --color-code: #{lighten($color-background, 20%)};
}
