$color-primary: #005BFF;
$color-secondary: adjust-hue($color-primary, 180deg);
$color-dark: #000;
$color-light: rgb(250, 250, 250);
$color-gray: lighten($color-dark, 55%);
$color-border: lighten($color-dark, 65%);
$color-background: lighten($color-dark, 93%);
$color-text: lighten($color-dark, 5%);
$color-link: $color-primary;